<div class="card">
  <div class="card-header bg-dark">
    <div class="row justify-content-between">
      <div class="col-md-6">
        <h1>Contact</h1>
      </div>
      <div class="col-md-6 text-right">
        <button class="btn btn-success" data-toggle="modal" data-target="#myModal" >Add</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <!-- Begin Student -->
    <div class="card">
      <div class="card-header">
        Student
      </div>
      <div class="card-body">
        <form>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold">Contact_ID</label>
            <div class="col-md-9">
              <input type="password" class="form-control" id="inputPassword" placeholder="01-09-0-00197">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold">Full Name</label>
            <div class="col-md-9">
              <input type="password" class="form-control" id="" placeholder="Lionel Messi">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold">Cell Phone</label>
            <div class="col-md-9">
              <input type="password" class="form-control" id="" placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold">Home Phone</label>
            <div class="col-md-9">
              <input type="password" class="form-control" id="" placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold">Cellphone for Text Message
            </label>
            <div class="col-md-9">
              <input type="password" class="form-control" id="" placeholder="">
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- End Student -->
    <!-- Begin  -->
    <div class="card">
      <div class="card-header">
        Father's Student
      </div>
      <div class="card-body">
        <form>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold">Father's Name</label>
            <div class="col-md-9">
              <input type="password" class="form-control" id="inputPassword" placeholder="01-09-0-00197">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold">Father's Cellphone</label>
            <div class="col-md-9">
              <input type="password" class="form-control" id="" placeholder="Lionel Messi">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold">Father's Email Address</label>
            <div class="col-md-9">
              <input type="password" class="form-control" id="" placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold">Father's Working Place</label>
            <div class="col-md-9">
              <input type="password" class="form-control" id="" placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold">Father's Position
            </label>
            <div class="col-md-9">
              <input type="password" class="form-control" id="" placeholder="">
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- End Father -->
    <!-- Begin Mother -->
    <div class="card">
      <div class="card-header">
        Mother's Student
      </div>
      <div class="card-body">
        <form>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold">Mother's Name</label>
            <div class="col-md-9">
              <input type="password" class="form-control" id="inputPassword" placeholder="01-09-0-00197">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold">Mother's Cellphone</label>
            <div class="col-md-9">
              <input type="password" class="form-control" id="" placeholder="Lionel Messi">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold">Mother's Email Address</label>
            <div class="col-md-9">
              <input type="password" class="form-control" id="" placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold">Mother's Working Place</label>
            <div class="col-md-9">
              <input type="password" class="form-control" id="" placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold">Mother's Position
            </label>
            <div class="col-md-9">
              <input type="password" class="form-control" id="" placeholder="">
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- End Mother -->
    <!-- Begin Sponsor -->
    <div class="card">
      <div class="card-header">
        Sponsor's Student
      </div>
      <div class="card-body">
        <form>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold">Sponsor's Name</label>
            <div class="col-md-9">
              <input type="password" class="form-control" id="inputPassword" placeholder="01-09-0-00197">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold">Sponsor's Cellphone</label>
            <div class="col-md-9">
              <input type="password" class="form-control" id="" placeholder="Lionel Messi">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold">Sponsor's Email Address</label>
            <div class="col-md-9">
              <input type="password" class="form-control" id="" placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold">Sponsor's Working Place</label>
            <div class="col-md-9">
              <input type="password" class="form-control" id="" placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold">Sponsor's Position
            </label>
            <div class="col-md-9">
              <input type="password" class="form-control" id="" placeholder="">
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- End Sponsor -->
    <button class="btn btn-success">Lưu</button>
  </div>

<!-- begin modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- end modal -->